# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env

# Project specific
*.zip
network_graph.png
jcr_lattes_database_backup.json
*.html

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# MacOS
.DS_Store
